name: CI – Pytest for MOOC.ENU.KZ

on:
  push:          # запускать при каждом push
    branches: [ main, master ]
  pull_request:  # и при каждом pull request
    branches: [ main, master ]

jobs:
  tests:
    runs-on: ubuntu-latest   # виртуальная машина Ubuntu

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: |
          pytest -q
